.scroll {
    position: fixed;
    right: 16px;
    bottom: 76px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(13, 20, 33);
    color: rgb(255, 255, 255);
    border-radius: 32px;
    user-select: none;
    cursor: pointer;
    /* opacity: 0; */
    transition: opacity 0.3s ease-in-out 0s;
    z-index: 9999;
}
.scroll_icon{
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: gototop linear 1s infinite alternate-reverse;
}
@keyframes gototop {
    0%{
        transform:  translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}
