
#navbar{
    margin: 0 50px;
    padding: 10px 0;
}
.navbar{
    position: relative;
    
}
.logo_image{
    display: block;
    height: 70px;
    width: 150px;
    overflow: hidden;
}
.logo_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.nav_item a{
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.3s;
    border: 1px solid transparent;
    color: #FFF;
}
.nav_item a:hover{
    border: 1px solid #ffbd39;
    color: #ffbd39;
    background: #262626;
}
.bars{
    display: none;
}
.menu_bar{
    font-size: 28px;
    cursor: pointer;
}

/* ================================Large Medium========================== */

@media screen and (max-width: 1024px) {
    
}

/* ================================Medium========================== */

@media screen and (max-width: 768px){
    #navbar{
        margin: 0 25px;
    }
    .logo_image{
        height: 60px;
        width: 130px;
        overflow: hidden;
    }
    .nav_item a{
        padding: 20px 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .nav_list{
        position: absolute;
        top: -100%;
        transform: translateY(-100%);
        right: 0;
        flex-direction: column;
        background-color: chocolate;
        width: 140px;
        opacity: 0;
        transition: all linear 0.5s;
        gap: 0;
    }
    
    .show{
        opacity: 1;
        top: 100%;
        transform: translateY(0);
    }
    .bars{
        display: block;
    }
}