
#navbar{
    margin: 0 50px;
    padding: 10px 0;
    position: relative;
    transition: all  0.7s ease;
}

.logo_image{
    display: block;
    height: 70px;
    width: 150px;
    overflow: hidden;
}
.logo_image img{
    height: 100%;
    width: 100%;
}
.hello{
    height: 30px;
    width: 30px;
    background-color: aqua;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.nav_item a{
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.3s;
    border: 1px solid transparent;
    color: #FFF;
}
.nav_item a:hover{
    border: 1px solid #ffbd39;
    color: #ffbd39;
    background: #262626;
}
.bars{
    display: none;
}
.bars{
    font-size: 28px;
    cursor: pointer;
}

/* ================================Large Medium========================== */

@media screen and (max-width: 1024px) {
    .nav_list{
        gap: 5px;
    }
    .nav_item a{
        padding: 5px 7px;
        font-size: 14px;
    }
}

/* ================================Medium========================== */

@media screen and (max-width: 768px){
    #navbar{
        margin: 0 25px;
        height: 70px;
    }
    .logo_image{
        height: 60px;
        width: 130px;
    }
    .nav_item a{
        padding: 30px 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
        background-color: chocolate;
        letter-spacing: 3px;
    }
    .nav_list{
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        flex-direction: column;
        transition: all  0.7s ease;
        overflow: hidden;
    }
    .bars{
        display: block;
    }
}

/* ================================Small========================== */

@media screen and (max-width: 576px){
    #navbar{
        margin: 0 15px;
    }
    .logo_image{
        height: 50px;
        width: 110px;
    }
    .nav_item a{
        padding: 20px 0;
    }
}