#contact{
    margin: 0 50px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.contact_form{
    width: 500px;
}
.inputField{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid #979797;
    outline: none;
    transition: 0.3s;
    
}
.inputField:focus{
    border: 1px solid #ffbd39;
    background-color: rgba(255, 255, 255, 0.1);
}
#areaField{
    resize: none;
}
.sandBtn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: #262626;
    background-color: #ffbd39;
    margin-top: 20px;
}
.sandBtn:hover{
    background-color: #262626;
    color: #ffbd39;
}
.contact_icons{
    display: flex;
    width: 50%;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}
.contact_icon_part{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.icon_wrapper{
    border-radius: 50%;
    background-color: rgba(14, 2, 2, 0.865);
    height: 80px;
    width: 100px;
    position: relative;
}
.contact_links{
    width: 250px;
    background-color: #dbf7a64b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}
.contact_links:hover{
    box-shadow: 0px 0px 15px 15px lightblue;
}

.contact_icon{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffbd39;
}
.contact_links h3{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #f0e3e3;
    margin: 35px 0 8px;
}
.contact_link{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffbd39;
    transition: all 0.5s ease;
}
.contact_links:hover .contact_link{
    text-decoration: underline;
    color: gainsboro;
}
.text_trans{
    text-transform: lowercase;
}

/* ================================Respnsive========================== */

@media screen and (max-width: 1024px){
    .contact_form{
        width: 45%;
    }
    .contact_links {
        width: 50%;
        padding: 15px 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1);
    }
    .contact_links:hover{
        box-shadow: 0px 0px 5px 5px lightblue;
    }
    .contact_link{
        width: 165px;
        text-align: center;
    }
    .contact_icons{
        gap: 40px;
        width: 55%;
    }
    .contact_icon_part{
        gap: 20px;
        justify-content: space-between;
        width: 100%;
    }
    .sandBtn {
        padding: 10px 15px;
    }
    .messenger{
        font-size: 13px;
    }
}
/* =======================Medium============================ */
@media screen and (max-width: 768px){
    #contact{
        margin: 0 25px;
    }
    .contacts{
        flex-direction: column;
        gap: 100px;
    }
    .contact_form{
        width: 100%;
    }
    .form{
        width: 500px;
        margin: 0 auto;
    }
    .sandBtn {
        margin-top: 0px;
    }
    .contact_icons{
        width: 100%;
        gap: 50px;
    }
    .contact_links{
        width: 50%;
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.1);
        transition: 0.3s;
    }
    .contact_links:hover{
        box-shadow: 0px 0px 3px 3px lightblue;
    }
    .contact_icon_part{
        width: 100%;
        justify-content: space-between;
    }
}
/* =======================Small============================ */
@media screen and (max-width: 576px){
    #contact{
        margin: 0 15px;
    }
    .contacts {
        gap: 60px;
    }
    .inputField {
        font-size: 14px;
        padding: 15px;
        margin-bottom: 20px;
    }
    #areaField {
        height: 130px;
    }
    .sandBtn {
        padding: 8px 12px;
        font-size: 14px;
    }
    .form{
        width: auto;
    }
    .contact_links {
        width: 50%;
        border-radius: 2px;
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    }
    .contact_links:hover{
        box-shadow: 0px 0px 2px 2px lightblue;
    }
    .contact_icon {
        font-size: 28px;
    }
    .icon_wrapper {
        height: 60px;
        width: 75px;
    }
    .contact_links h3 {
        font-size: 20px;
        margin: 18px 0 8px;
    }
    .contact_link {
        font-size: 12px;
        width: 132px;
    }
    .messenger{
        font-size: 10px;
    }
    .contact_icons {
        column-gap: 5px;
        row-gap: 40px;
    }
    .contact_icon_part{
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }
}