*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #e2e8f0;
}
a{
  text-decoration: none;
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
}
ul, ol{
  list-style-type: none;
}
.container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 1320px;
  margin: 0 auto;
  color: #FFF;
}

.to_top{
  height: 50px;
  width: 50px;
  background-color: #ffbd39;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  
}
.scroll_icon {
  font-size: 30px;
  animation: gototop 2s linear infinite alternate-reverse;
  transition: all 0.4s;
}
@keyframes gototop{
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}
/*========================== Common class ================= */

.section_heading{
  font-family: 'Inter', sans-serif;
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

/*font-family: 'Inter', sans-serif; */


/* =======================Large Medium============================ */
@media screen and (max-width: 1024px){
  .container{
    max-width: 100%;
  }
}
/* =======================Medium============================ */
@media screen and (max-width: 768px){
  .section_heading{
    font-size: 48px;
    margin-bottom: 50px;
  }
}
/* =======================Small============================ */
@media screen and (max-width: 576px){
  .section_heading{
    font-size: 36px;
  }
}